.loading{
 width: 100%;
 height: 100vh;
 background-color: black;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}


.loading .text{
    display: flex;
    position: relative;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color: #ff8b38;
    text-shadow: 0 0 20px  #ff8b38;
}
.loading .text::after{
    content: '';
    width: 100%;
    height: 50px;
    background: #ff8b38;
    position: absolute;
    top: 100%;
    transform: perspective(1em) rotateX(40deg) scale(1.0,0.5);
    filter: blur(1em);
}
.loading span{
    width: 40%;
    height: 40%;
    position: absolute;
    border-left: 3px solid #ff8b38;
    border-right: 3px solid red;
    border-radius: 37% 61% 63% 35%/ 42% 34% 64% 56%;
    animation: rotate 3s linear infinite;
}
.loading span:nth-child(1){
    animation: rotate 6s linear infinite reverse;
}
.loading span:nth-child(2){
    animation: rotate 9s linear infinite ;
}
.loading span:nth-child(3){
    animation: rotate 12s linear infinite reverse;
}
@keyframes rotate{
    0%{
        transform: rotate(0);
    }
   100%{
        transform: rotate(360deg);
    }
}
@keyframes scale{
    0%{
        width: 400px;
        height: 400px;
    }
   50%{
    width: 600px;
    height: 600px; 
    }
    100%{
        width: 400px;
        height: 400px;
    }
}
.button a{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #ff8b38;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}
.button a:hover{
    color: red;
    background: #ff8b38;
    box-shadow: 0 0 10px #ff8b38,0 0 40px #ff8b38,0 0 80px #ff8b38;
    transition-delay: 1s;
}

