@font-face {
    font-family: "icons";
    font-display: swap;
    src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }
  
@font-face {
    font-family: "icons";
    src: url("../fonts/icons.eot?18b0cn");
    src: url(".//fonts/icons.eot?18b0cn#iefix") format("embedded-opentype"), url("../fonts/icons.woff?18b0cn") format("woff"), url("../fonts/icons.svg?18b0cn#icons") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
[class^="_icon-"]::before,
[class*=" _icon-"]::before {
    font-family: "icons" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  ._icon-facebook:before {
    content: "\e900";
  }
  
  ._icon-google:before {
    content: "\e901";
  }
  
  ._icon-instagram:before {
    content: "\e902";
  }
  
  ._icon-pinterest:before {
    content: "\e903";
  }
  
  ._icon-rss:before {
    content: "\e904";
  }
  
  ._icon-stumbleupon:before {
    content: "\e905";
  }
  
  ._icon-twitter:before {
    content: "\e906";
  }
  
  ._icon-bold:before {
    content: "\e907";
  }
  
  ._icon-download:before {
    content: "\e908";
  }
  
  ._icon-keyboard:before {
    content: "\e909";
  }
  
  ._icon-lightbuld:before {
    content: "\e90a";
  }
  
  ._icon-upload:before {
    content: "\e90b";
  }